<section>
    <div class="container">
        <div class="my-3 py-3">
            <h2 class="text-center">My Orders</h2>
            <hr>
            {{#each order}}
            <div class="row align-items-center my-3 text-center bg-light">
                <div class="col-md-4">Order No : <span class="text-uppercase">{{this._id}}</span></div>
                <div class="col-md-3">{{this.date}}</div>
                <div class="col-md-2">&#8377;{{this.total}}</div>
                <div class="col-md-2">{{this.status}}</div>
                <div class="col-md-1"><a class="btn btn-info text-white" href="/order-success/{{this._id}}">
                        View</a></div>
            </div>
            {{/each}}
        </div>
    </div>

</section>